.card-list--alt {
    flex-wrap: nowrap;
}

.cards-list--alt .cards-list__card {
    width: calc((100% - 96px) / 4);
    padding: 32px 38px 20px;
    background-position: center calc(100% - 85px);
    min-height: 400px;
    background-size: 210px 135px;
}

.cards-list--alt .cards-list__card-description {
    align-self: center;
}

.cards-list--alt .cards-list__card-label {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin: 0 0 8px;
    align-self: center;
}
.cards-list--alt .cards-list__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 8px;
    text-align: center;
}


.cards-list--alt .cards-list__card-low-bid {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.cards-list--alt .cards-list__card-link {
    align-self: center;
}

